<div id="homeContainer">

    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameOnLine">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" alt="Image avatar">
                    </div>
                </div>
                <div class="col">
                    <b>Eduardo</b>
                    <div>
                        <span>OnLine</span>
                        <br/>
                        <span>Escribe  mensaje personal 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="text" placeholder="Buscar amigo" [(ngModel)]="query">
    <br/>
    <b>Amigos</b>
    <ng-container *ngFor="let friend of friends | search: query; let i = index" >
        <div>
            <img class="statusIcon" src="./assets/img/logo_live_{{friend.status}}.png" alt="Estatus contacto">
            <a routerLink="/conversation/{{friend.uid}}">
                {{i}}. {{friend.nick}}
            </a>
        </div>    
        
    </ng-container>
</div>

