<div id="homeContainer">

    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameOnLine">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" alt="Image avatar">
                    </div>
                </div>
                <div class="col">
                    <b>Eduardo</b>
                    <div>
                        <span>OnLine</span>
                        <br/>
                        <span>Escribe  mensaje personal 
                        </span><br/>
                        <a (click)="logout()">Logout</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="whiteContainerPadded marto15">

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar amigo" [(ngModel)]="query">

            </div>
            <div class="col-md-auto">
                <img src="./assets/img/logo_live_add.png" class="icon" alt="">
            </div>
        </div>

        <hr/>
        <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
        <div class="disblo marbo5" *ngFor="let friend of friends | search: query; let i = index" >

            <span routerLink="/conversation/{{friend.uid}}">
                <img class="statusIcon" src="./assets/img/logo_live_{{friend.status}}.png" alt="Estatus contacto">
                    <b>{{friend.nick}}</b> - {{friend.subnick || 'No subnick'}}
                    <small>{{friend.email}}</small>
            </span>
            
        </div>

    </div>

</div>

